@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap');


*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
  background-color: black;
  color:white

}
.WeaponButton{
  height: 100px;
  width :100px;
  display: inline-block;
  border: 4px solid black;
  border-radius: 50%;
  padding :10px;
  margin : 0px  20px;
  transition : all 0.3 ease;
  font-family: 'Luckiest Guy', cursive;
  font-size : 19px;
  
 
}

.WeaponButton:hover{
  cursor: pointer;
  background: red;

}

.StartButton {
  height :70px;
  width: 100px;
  margin-top :20px;
  padding :10px;
  border-radius: 10%;
  font-family: 'Luckiest Guy', cursive;

}

.StartButton:hover{
  cursor: pointer;
  background: red;
  font-size : 19px;
  font-weight: bold;
}